<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>  
        <main class="modal-dialog text-center">
            <section class="col-sm-9 main-section" id="main-section">
                <section class="modal-content">
                    <!-- sessao para o logo -->
                    <article class="col-12 user-img"> 
                            <img src="styles/imagens/FB_IMG_1556908705366.jpg">
                    </article>
                    <article class="col-12 form-input" >
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Insira seu email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Insira sua senha">  
                            </div>
                            <button type="submit" class="btn btn-success" >Login</button>
                        </form>
                    </article>
                </section>
            </section>
        </main>
    </body>
</html>